table {
    table-layout: fixed;
    width: 250px;
    border: 1px solid red;
  }
  
  td {
    border: 1px solid blue;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  h1 {

border: 1px solid rgb(161, 214, 16);
}



  
  